.site-footer {
  background-color: #f7a325c5;
  color: #4C4B16;
  font-family: 'Kurale', serif;
}

.site-footer .container {
  grid-template-columns: repeat(3, auto);
  padding-top: 1rem;
}

.site-footer-logo {
  grid-column: 1;
  min-width: 6rem;
  width: 10rem;
  margin-left: 30%;
}

.site-footer h4 {
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  margin: 1rem 0 1rem 0;
}

.site-footer a {
  color: #862b0deb;
  transition: color 0.5s;
}

.site-footer a:hover,
.site-footer a:focus {
  color: #efe3bf;
}

.site-footer-contact {
  grid-column: 2;
}

.site-footer-contact svg {
  margin-right: 0.5rem;
}

.site-footer-contact p {
  margin-bottom: 0.25rem;
}

.site-footer-social {
  grid-column: 3;
}

.site-footer-social svg {
  margin-right: 1rem;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 927px) {
  .site-footer .container {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
  }

  .site-footer-social {
    grid-column: 1;
    grid-row: 2;
    margin-top: 2rem;
  }
}

@media (max-width: 789px) {
  .site-footer .container {
    grid-template-columns: auto auto;
  }

  .site-footer-contact {
    grid-column: 1;
    grid-row: 2;
    margin-top: 2rem;
  }

  .site-footer-social {
    grid-column: 2;
  }
}

@media (max-width: 576px) {
  .site-footer .container {
    grid-template-columns: auto;
  }

  .site-footer-logo {
    grid-row: 1;
  }

  .site-footer-contact {
    grid-row: 3;
  }

  .site-footer-social {
    grid-column: 1;
    grid-row: 4;
  }
}