/* Reset Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Reset Lists */
ul,
ol {
  list-style: none;
}

/* Reset Links */
a {
  text-decoration: none;
}

/* Reset Form Elements */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


header a {
  color: black;
  display: flex;
  align-items: baseline;
  color: wheat;
  font-family: 'Kurale', serif;
}




.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  font-family: 'Ledger', serif;
}

header {
  background-color: #4C4B16;
  padding: 0em 1em 0em 1em;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin-bottom: 1em;
  }
}



nav {
  background-color: #948a23;
  padding: 1em;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  position: relative;
  color: #F7F1E5;
  font-weight: 600;
}

nav a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #862B0D;
  content: "";
  opacity: 0;
  transition: all 0.2s;
}

nav a:after {
  bottom: -5px;
  transform: translateY(15px);
}

nav a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

nav a:hover {
  transition: all 0.2s;
  color: #faefd3;
  text-shadow: 0 0 1px rgba(250, 239, 211, 0.9);
}



main {
  background-color: #F7F1E5;
  padding: 1em;
  text-align: center;
}

.booking {
  background-color: #F7F1E5;
  padding: 1em;
  text-align: center;
}

footer {
  background-color: #E7B10A;
  padding: 1em;
  text-align: center;
}

/* Flame */

.mo-fire {
  width: 3rem;
  height: auto;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative
}

.flame {
  animation-name: flamefly;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
  filter: blur(2px);
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 2s;
  filter: blur(1px);
}

.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
  filter: blur(2px);
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  filter: blur(0.5px)
}

.flame-main.one {
  animation-duration: 2.25s;
  animation-delay: 0.5s;
  filter: blur(1px)
}

.flame-main.two {
  animation-duration: 2s;
  animation-delay: 0.25s;
  filter: blur(1px)
}

.flame-main.three {
  animation-duration: 1.25s;
  filter: blur(6px);
}

.flame-main.four {
  animation-duration: 1.s;
  animation-delay: 3s;
  filter: blur(2px);
}

.flame-main.five {
  animation-duration: 1.25s;
  animation-delay: 2s;
  filter: blur(8px);
}

@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-1deg);
  }

  20% {
    filter: blur(2px);
  }

  30% {
    transform: scale(1, 1.21) translate(0, -31px) rotate(0.1deg);
    filter: blur (3px)
  }
}

@keyframes flamefly {
  0% {
    transform: translate(0) rotate(181deg);
    transform: translate(0) rotate(180deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes glow {

  0%,
  100% {

    background: #ef5a00;
  }

  50% {
    background: #ff7800;

  }

}


.reservation-form {
  display: grid;
  max-width: 400px;
  /* Adjust the max-width for larger screens */
  width: 90%;
  /* Set the form width to 90% of the container */
  gap: 20px;
  /* Set the form background color */
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

/* Style the label */
.reservation-form label {
  font-weight: 500;
  display: flex;
  font-size: 16px;
  color: rgb(43, 62, 10);
}

/* Style the input fields and select boxes */
.reservation-form input[type="date"],
.reservation-form input[type="number"],
.reservation-form select {
  /* Set the input fields and selects to occupy the full width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}


/* Style the submit button */
.reservation-form input[type="submit"] {
  color: #F7F1E5;
  background-color: #948a23;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.8s ease;
  font-family: 'Ledger', serif;
  /* Add transition for animation */
}

.reservation-form input[type="submit"]:hover {
  transition: background-color 0.1s ease-in-out;
  background-color: #fbc579;
  color: #862b0deb;
  /* Change the background color on hover */
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  .reservation-form {
    max-width: 90%;
    /* Adjust the form width for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .reservation-form {
    max-width: 100%;
    /* Adjust the form width for even smaller screens */
  }
}

.booking h2 {
  /* background-color: #495e57; */
  color: #f88728;
  padding: 1rem 0;
  text-align: center;
  font-family: 'Kurale', serif;
}

.confirmed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.confirmed {
  text-align: center;
  background-color: #fdedd4d9;
  padding: 3%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.confirmation-symbol {
  font-size: 48px;
  margin-bottom: 10px;
  color: #28a745;
}

footer img{
  display: flex;
}