/* Reset Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Reset Lists */
ul,
ol {
  list-style: none;
}

/* Reset Links */
a {
  text-decoration: none;
}

/* Reset Form Elements */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a{
  color: black;
}




.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto;
}

header {
  background-color: #4C4B16;
  padding: 0em 1em 0em 1em;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: wheat;
}

main {
  background-color: #F7F1E5;
  padding: 1em;
  text-align: center;
}

.booking {
  background-color: #F7F1E5;
  padding: 1em;
  text-align: center;
}

nav {
  background-color: #898121;
  padding: 1em;
  text-align: center;
}

footer {
  background-color: #E7B10A;
  padding: 1em;
  text-align: center;
}

/* Flame */

.mo-fire {
  width: 3rem;
  height: auto;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative
}

.flame {
  animation-name: flamefly;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
  filter: blur(2px);
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 2s;
  filter: blur(1px);
}

.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
  filter: blur(2px);
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  filter: blur(0.5px)
}

.flame-main.one {
  animation-duration: 2.25s;
  animation-delay: 0.5s;
  filter: blur(1px)
}

.flame-main.two {
  animation-duration: 2s;
  animation-delay: 0.25s;
  filter: blur(1px)
}

.flame-main.three {
  animation-duration: 1.25s;
  filter: blur(6px);
}

.flame-main.four {
  animation-duration: 1.s;
  animation-delay: 3s;
  filter: blur(2px);
}

.flame-main.five {
  animation-duration: 1.25s;
  animation-delay: 2s;
  filter: blur(8px);
}

@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-1deg);
  }

  20% {
    filter: blur(2px);
  }

  30% {
    transform: scale(1, 1.21) translate(0, -31px) rotate(0.1deg);
    filter: blur (3px)
  }
}

@keyframes flamefly {
  0% {
    transform: translate(0) rotate(181deg);
    transform: translate(0) rotate(180deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

@keyframes glow {

  0%,
  100% {

    background: #ef5a00;
  }

  50% {
    background: #ff7800;

  }

}